<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.example.servlet.AddUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetUsersServlet</servlet-name>
        <servlet-class>com.example.servlet.GetUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

</web-app>
